@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --fontParagraph: 1.8rem;
  --fontFamily: "Outfit", sans-serif;
  --p1: 300;
  --p2: 400;
  --p3: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--mainBG);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  display: none;
}

p {
  font-size: var(--fontParagraph);
}

.overlay {
  position: absolute;
  width: 27.8rem;
  height: 27.8rem;
  background-color: var(--cyan);
  opacity: 0;
  border-radius: inherit;
}

.eye {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  top: calc(50% - 2.4rem);
  left: calc(50% - 2.4rem);
  opacity: 0;
}
