@media only screen and (max-width: 60rem) {
  #card-container {
    width: 32.7rem;
    height: 54.3rem;
    border-radius: 1.5rem;
  }

  #card-img {
    width: 27.8rem;
    height: 27.8rem;
  }

  .img {
    width: 27.8rem;
    height: 27.8rem;
  }

  #card-heading {
    width: 27.8rem;
    height: 2.7rem;
  }

  #card-description {
    width: 27.8rem;
    height: 5.2rem;
    margin-top: 1.3rem;
  }

  #card-description p {
    font-size: 1.6rem;
  }

  #card-price {
    width: 27.8rem;
    height: 1.9rem;
    margin-top: 1.6rem;
  }

  .price {
    width: 9.5rem;
    height: 1.9rem;
  }

  .price span {
    width: 7.3rem;
    height: 1.8rem;
  }

  .price span p {
    font-size: 1.5rem;
  }

  .time {
    width: 9.27rem;
    height: 1.9rem;
  }

  .time p {
    width: 7.5rem;
    height: 1.8rem;

    font-size: 1.5rem;

    margin-left: 0.6rem;
  }

  #card-divider {
    width: 27.8rem;

    margin-top: 1.6rem;
  }

  #card-footer {
    width: 21.9rem;
    height: 3.3rem;
  }

  #card-footer p {
    width: 7.9rem;
    height: 1.8rem;

    font-size: 1.5rem;

    margin-left: 1.6rem;
  }

  #card-footer span {
    width: 9.5rem;
    height: 1.8rem;

    font-size: 1.5rem;

    margin-left: 0.1rem;
  }
}
